<div class="container">
<h3>
	Welcome <%= current_user.name %>, This Is The List Of Events You've Created 
</h3>
<% current_user.created_events.each do |s| %>
<%= link_to s.title, s %><br>
<% end %>
<%= link_to "Back To Home Page", root_path, class:'btn btn-warning' %>
</div>