<div class="container">
	<h1>
		Hello <%= current_user.name %> this is your list of events 
	</h1>
	<% @events.each do |e| %>
	<%= link_to e.title, e %><br>
	<% end %>
	<%= link_to 'Schedule New Session', new_event_path, class:'btn btn-success' %>
	<%= link_to 'Back To Home Page', root_path, class:'btn btn-dark' %>
</div>